@media (min-width: 1200px){
  .container{
    max-width: 1250px;
  }
  h1{
    font-size: 3rem;
  }
  header .navbar-nav{
    width: 75%;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .container{
    max-width: 960px;
  }
  header .navbar-nav{
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .container{
    max-width: 720px;
  }
  header .navbar-nav{
    width: 90%;
  }
  header .navbar ul a{
    font-size: 0.8rem;
    padding-top: 0.75rem;
  }
}
@media (min-width: 576px) and (max-width: 767px){
  .container{
    max-width: 560px!important;
  }
  header .navbar-toggler{
    padding: .25rem .5rem;
    flex: 1 0 auto;
    font-size: 1rem;
  }
}
@media (max-width: 575px){
  #background{
    height: 500px;
  }
  h1{
    font-size: 2.5rem;
  }
  header .navbar-toggler{
    padding: .25rem .5rem;
    flex: 1 0 auto;
    font-size: 1rem;
  }
}
html, body{
  font-size: 16px;
}
a{
  text-decoration: none!important;
  color: #fff;
}
a:hover{
  text-decoration: none!important;
  color: #fff;
}
section{
  margin-bottom: 55px;
}
header .row{
  height: 150px;
  align-items: center;
}
header div .navbar{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 0;
  padding-right: 0;
}
header .navbar > div:last-of-type{
  flex: 1 1 auto;
}
header .navbar .navbar-brand{
  width: 160px;
  flex: 0 0 auto;
}
header .navbar .navbar-collapse{
  justify-content: flex-end;
}
header .navbar .navbar-collapse ul > li > a {
  padding-bottom: 0;
}
header .navbar-toggler{
  width: 40px;
  height: 35px;
}
header .navbar-nav{
  display: flex;
  justify-content: space-between;
}
.show, .collapsing{
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 10;
  width: 80px;
  text-align: center;
  background-color: #343a40c7;
  border: 1px solid #2a343e;
}
nav li > a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 3rem;
  border: 1px solid transparent;
}
nav li > a:hover{
  border: 1px solid orange;
  border-radius: 15px;
}
.curr{
  color: white!important;
}
#background{
  position: absolute;
  background-image:linear-gradient(transparent 0%, #343a40 95%), url("../images/bg_1.jpg");
  background-size: 100% 90%;
  height: 80%;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  z-index: -2;
}
.jumbotron{
  background-color: #343a40c7;
}
.search-button{
  background-color: transparent;
  border-left: none;
  border-color:#ced4da;
  font-family: "Font Awesome 5 Free";
}
.search-button:hover{
  background-color: transparent;
  border-color:#ced4da;
}
.search-button::before{
  content: '\f689';
  font-weight: 900;
  color: #a3a3a3;
}
#search-place, #from-date, #to-date, #trip-type{
  background-color: transparent;
  color: #a3a3a3;
}
#search-place:focus, #from-date:focus, #to-date:focus, #trip-type:focus{
  box-shadow:none;
  border-color:#ced4da;
}
#search-place{
  border-color:#ced4da;
  border-right: none;
}
#search-place::-webkit-input-placeholder{
  color: #a3a3a3;
}
.orange, .orange:hover{
  color:#343a40;
  font-size: 1.15rem;
  background-color: orange;
  border-color: orange;
}
.icons > i{
  font-size: 55px;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}
.icons > p{
  text-align: center;
}
#directions .row > div > div{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #41484f;
  border-radius: 10px;
  height: 450px;
}
#directions .row > div > div > span{
  position: relative;
  height: 25px;
}
#directions .row > div > div > span a{
  color: #a5a5a5;
  font-size: .8rem;
}
#directions .row> div > div > div + div{
  position: relative;
  height: 180px;
  overflow-y: hidden;
}
@media (min-width: 1200px){
  #directions .row > div > div h4{
    font-size: 1.5rem;
  }
  #directions .row > div > div p{
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  #directions .row > div > div h4{
    font-size: 1.35rem;
  }
  #directions .row > div > div p{
    font-size: 0.98rem;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #directions .row > div > div h4{
    font-size: 1.16rem;
  }
  #directions .row > div > div p{
    font-size: 0.8rem;
  }
}
@media (min-width: 576px) and (max-width: 767px){
  #directions .row > div > div h4{
    font-size: 1.5rem;
  }
  #directions .row > div > div p{
    font-size: 1.1rem;
  }
}
@media (max-width: 575px){
  #directions .row > div > div h4{
    font-size: 1.35rem;
  }
  #directions .row > div > div p{
    font-size: 0.98rem;
  }
}
.line-1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-4{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-5{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#directions .row > div > div:hover{
  transform: scale(1.02);
  background-color: #ffffff;
}
#directions .row > div > div:hover h4,
#directions .row > div > div:hover p{
  color: #41484f;
}
#directions .row > div > div:hover span a{
  color: #a5a5a5;
}
.dir-image-part{
  position: relative;
}
.dir-image-part > div{
  display: flex;
}
.dir-image-part > div span{
  padding-left: 5px;
  padding-right: 5px;
}
.dir-image-part > div span:first-child{
  background-color: orange;
  color: #343a40;
}
.dir-image-part > div span:last-child{
  background-color: #343a40c7;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
.blog-image-part{
  position: relative;
  height: 180px;
}
.blog-image-part > div{
  display: flex;
}
#directions img{
  width: 100%;
  overflow: hidden;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#directions img + div{
  position: absolute;
  bottom: 10%;
}
.watch-all{
  color: #fff;
}
.watch-all:hover{
  color: #343a40;
}
#info{
  text-align: center;
  background-color: #343a40;
  background-image: url('../images/bg_2.jpg');
  background-blend-mode: hard-light;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
}
#info p:first-child{
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 500;
  color: orange;
}
#blog img{
  width: 100%;
  overflow: hidden;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#blog .row > div{
  height: 100%;
}
#blog .row > div > div{
  position: relative;
  background-color: #41484f;
  border-radius: 10px;
  height: 356px;
}
#blog .row > div > div h5{
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  height: 3.5rem;
  padding-right: 5px;
}

#blog .row > div > div p{
  overflow: hidden;
  white-space: break-spaces;
  height: 4.5rem;
}
#blog .row > div:first-child > div{
  background-color: #343a4075;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#blog .row > div:first-child > div img{
  position: relative;
  border-radius: 10px;
  height: 356px;
  z-index: -2;
}
#blog .row > div:first-child > div p{
  top: 40%;
  color: #b9b9b9;
}
.abs-pos{
  position: absolute;
  text-align: center;
  height: auto;
  top: 10%;
  width: 80%;
}
.footnote{
  display: flex;
  height: 20px;
  color: #b9b9b9;
  font-size: 12px;
  margin-right: 10px;
}
.footnote p{
  flex: 2 1 0;
}
.footnote a{
  flex: 1 1 0;
  display: block;
  color: #b9b9b9;
  text-align: end;
}
.like{
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}
.like a{
  cursor: pointer;
  text-align: end;
  margin-top: 4px;
  margin-right: 6px;
}
.like a:visited{
  color: orange;
}
.comment::before{
  content: '\f4ad';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}
#carousel{
  height: 300px;
}
#carousel div{
}
#carousel ol{
  position: relative;
}
#carousel ol > li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
#carousel img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: none;
  margin: 0;
}
#carousel .carousel-item{
  position: relative;
}
#carousel .carousel-caption{
  bottom: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carousel .carousel-caption::after{
  content: "\201C";
  position: absolute;
  font-family: 'Catamaran';
  top: 35px;
  font-size: 154px;
  color: #ffffff38;
}
#carousel .carousel-caption p:first-of-type{
  max-height: 154px;
  margin-top: 5px;
  font-size: 1.1rem;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  overflow: hidden;
}

#carousel .carousel-caption > p:last-of-type{
  height: 25px;
}
#carousel .carousel-caption > div{
  height: 60px;
}
.h-5{
  height: 5%;
}
.h-95{
  height: 95%;
}
.carousel-item{
  height: 100%;
}


footer{
  font-size: .8rem;
}
footer .row > div{
  margin-block-end: .5rem;
  height: 2.5rem;
}
footer .row > div:last-child p{
  margin-bottom: 0.1rem;
}

.text-orange{
  color: orange;
  margin-right: .5rem;
}
footer .row > div:last-child a{
  margin-inline-end: .5rem;
  font-size: 1.2rem;
}