@charset "UTF-8";
#info {
  text-align: center;
  background-color: #343a40;
  background-image: url("../images/bg_2.jpg");
  background-blend-mode: hard-light;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
}

#blog img {
  width: 100%;
  overflow: hidden;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#blog .row > div {
  height: 100%;
}

#blog .row > div > div {
  position: relative;
  background-color: #41484f;
  border-radius: 10px;
  height: 356px;
}

#blog .row > div > div h5 {
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  height: 3.5rem;
  padding-right: 5px;
}

#blog .row > div > div p {
  overflow: hidden;
  white-space: break-spaces;
  height: 4.5rem;
}

#blog .row > div:first-child > div {
  background-color: #343a4075;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog .row > div:first-child > div img {
  position: relative;
  border-radius: 10px;
  height: 356px;
  z-index: -2;
}

#blog .row > div:first-child > div p {
  top: 40%;
  color: #b9b9b9;
}

.abs-pos {
  position: absolute;
  text-align: center;
  height: auto;
  top: 10%;
  width: 80%;
}

.footnote {
  display: flex;
  height: 20px;
  color: #b9b9b9;
  font-size: 12px;
  margin-right: 10px;
}

.footnote p {
  flex: 2 1 0;
}

.footnote a {
  flex: 1 1 0;
  display: block;
  color: #b9b9b9;
  text-align: end;
}

.like {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}

.like a {
  cursor: pointer;
  text-align: end;
  margin-top: 4px;
  margin-right: 6px;
}

.like a:visited {
  color: orange;
}

.comment::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}

#carousel {
  height: 300px;
}

#carousel ol {
  position: relative;
}

#carousel ol > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#carousel img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: none;
  margin: 0;
}

#carousel .carousel-item {
  position: relative;
}

#carousel .carousel-caption {
  bottom: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel .carousel-caption::after {
  content: "“";
  position: absolute;
  font-family: "Catamaran";
  top: 35px;
  font-size: 154px;
  color: #ffffff38;
}

#carousel .carousel-caption p:first-of-type {
  max-height: 154px;
  margin-top: 5px;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#carousel .carousel-caption > p:last-of-type {
  height: 25px;
}

#carousel .carousel-caption > div {
  height: 60px;
}

.h-5 {
  height: 5%;
}

.h-95 {
  height: 95%;
}

.carousel-item {
  height: 100%;
}

footer {
  font-size: 0.8rem;
}

footer .row > div {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  height: 2.5rem;
}

footer .row > div:last-child p {
  margin-bottom: 0.1rem;
}

.text-orange {
  color: orange;
  margin-right: 0.5rem;
}

footer .row > div:last-child a {
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  font-size: 1.2rem;
}

/**
* ^^^^^^^^^^^^^^
* ||||||||||||||
*    OLD STUFF
**/
/**********************
 ****** VARIABLES ******
 ***********************/
/* MIXINS */
/**********************
 **** GLOBAL STYLES ****
 ***********************/
html,
body {
  background-color: #1b1e22;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* This is to prevent scroll from taking space */
  overflow-y: overlay;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.625rem;
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.375rem;
  color: #fff;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.325rem;
  color: #fff;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #fff;
}

.small {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  color: #fff;
}

.opacity, .muted {
  opacity: 50%;
}

.muted {
  color: #c4c4c4;
}

.text-giant {
  font-family: "Montserrat", sans-serif;
  font-size: 4.875rem;
  font-weight: 500;
  line-height: 3.625rem;
  color: #fff;
  color: #ffb800;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  color: #fff;
}

/***********************
 **** GLOBAL BUTTONS ****
 ************************/
.btn-fill {
  background-color: #ffb800;
}

.btn-stroke {
  border: 1px solid #ffb800;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
}
/***************
 **** HEADER ****
 ****************/
#lang {
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

header .container {
  padding-top: 25px;
  padding-bottom: 25px;
}
header .row {
  height: 79px;
}

.banner header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.375rem;
  color: #fff;
}

.banner-wrapper {
  width: 100%;
  /* THIS IS CRUTCH FOR LATER DEL */
  height: 1032px;
  /********************************/
  background-color: #1b1e22;
  background-image: url("../assets/background_1.jpg");
  background-image: linear-gradient(180deg, #ffffff08 2.5%, #1b1e2266 42.42%, #1B1E22 80.67%), url("../assets/background_1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*linear-gradient(180deg, #1b1e2200 2.5%, #1b1e2278 42.42%, #1B1E22 80.67%), url(../images/background_1.jpg)*/
}

.logo {
  align-self: flex-start;
  margin-top: 3px;
  height: 50px;
  max-width: 183px;
}
.logo a {
  height: 50px;
}
.logo a img {
  background-size: cover;
}

#lang a {
  text-shadow: 1px 0px 2px #000, -1px 0px 2px #000, 0px 1px 2px #000, 0px -1px 2px #000;
}
#lang a:hover {
  transform: scale(1.1);
}

.banner .navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .banner .row {
    width: 100%;
    justify-content: space-between;
  }
  .banner .navbar {
    min-width: 50px;
  }
}
.banner .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner .nav-item {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.banner .nav-item:hover {
  border: 1px solid #ffb800;
  border-radius: 15px;
}

.banner .nav-link {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}

.banner .navbar-toggler {
  width: 50px;
  height: 50px;
}

.show,
.collapsing {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 10;
  width: 80px;
  text-align: center;
  background-color: #343a40c7;
  border: 1px solid #2a343e;
}

.main {
  margin-top: 40px;
}
.main .row > div {
  padding: 0;
}
.main .row > div:first-child {
  margin-top: 40px;
}
.main .row > div:last-child {
  position: relative;
}
.main h1 {
  margin-top: 2rem;
  margin-left: -5px;
}
.main h3 {
  margin-left: -1px;
  margin-top: 26px;
  width: 480px;
}

.form-blured {
  position: absolute;
  width: 500px;
  height: 360px;
  right: -73px;
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  --webkit-backdrop-filter: blur(24px);
}

.quick-search {
  position: absolute;
  width: 500px;
  height: 360px;
  padding: 50.76px 70px;
  right: -73px;
  border-radius: 10px;
  background: transparent;
}
.quick-search h5 {
  margin-bottom: 21px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group {
  margin-bottom: 19px;
  flex-shrink: 1;
}
.input-group:nth-child(2) {
  margin-right: 20px;
}
.input-group:nth-child(2), .input-group:nth-child(3) {
  flex-shrink: 0;
  width: 168px;
}
.input-group input,
.input-group select {
  height: 38px;
  background-color: transparent;
  border-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
  color: #fff;
}
.input-group input::-webkit-input-placeholder,
.input-group select::-webkit-input-placeholder {
  color: #fff;
}
.input-group input:focus,
.input-group select:focus {
  box-shadow: none;
  background-color: transparent;
  border-color: #fff;
  color: #ffffff80;
}
.input-group input:focus::-webkit-input-placeholder,
.input-group select:focus::-webkit-input-placeholder {
  color: #ffffff80;
}

#search-place {
  border-right: none;
}
#search-place::-webkit-search-cancel-button {
  display: none;
}

.search-button {
  position: relative;
  background-color: transparent;
  border-left: none;
  border-color: #fff;
  font-family: "Font Awesome 5 Free";
}
.search-button:hover {
  background-color: transparent;
  border-color: #fff;
}
.search-button::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -1px;
  font-weight: 900;
  color: #fff;
}

#date:before {
  content: attr(placeholder) !important;
}
#date::-webkit-calendar-picker-indicator {
  display: none;
}
#date::-webkit-datetime-edit-fields-wrapper {
  display: none;
}

.btn-submit,
.btn-submit:focus {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
  color: #1b1e22;
  background-color: #ffb800;
  border-color: #ffb800;
  box-shadow: none;
}

.features {
  margin-top: 280px;
  height: 227px;
}
.features .row {
  justify-content: space-between;
}

.features-card {
  margin-top: 131.4px;
  width: 264px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.features-card h5 {
  text-align: center;
}
.features-card::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 97px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
}
.features-card:nth-child(2) h5 {
  padding-left: 50px;
  padding-right: 50px;
}
.features-card:nth-child(1)::before {
  background-image: url("../assets/visa.svg");
}
.features-card:nth-child(2)::before {
  content: "";
  background-image: url("../assets/world.svg");
}
.features-card:nth-child(3)::before {
  content: "";
  background-image: url("../assets/hunter.svg");
}
.features-card:nth-child(4)::before {
  content: "";
  background-image: url("../assets/bbq.svg");
}

.directions {
  margin-top: 3.875rem;
}
.directions .row {
  margin-top: 2.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.directions-card {
  position: relative;
  width: 360px;
  height: 432px;
  margin-bottom: 2.8rem;
  padding: 0;
}

.directions-card-image {
  position: relative;
  height: 100%;
}
.directions-card-image div {
  position: absolute;
  top: 39%;
}
.directions-card-image:hover {
  transform: scale(1.06);
}

.directions-card-text {
  position: absolute;
  height: 50%;
  bottom: -1rem;
  left: 1.25rem;
}
.directions-card-text h5 {
  padding-right: 3.5rem;
}
.directions-card-text p {
  margin-top: 0.9rem;
  padding-right: 3rem;
}

#directions .row > div > div {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #41484f;
  border-radius: 10px;
  height: 450px;
}

#directions .row > div > div > span {
  position: relative;
  height: 25px;
}

#directions .row > div > div > span a {
  color: #a5a5a5;
  font-size: 0.8rem;
}

#directions .row > div > div > div + div {
  position: relative;
  height: 180px;
  overflow-y: hidden;
}

.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#directions .row > div > div:hover {
  transform: scale(1.02);
  background-color: #ffffff;
}

#directions .row > div > div:hover h4,
#directions .row > div > div:hover p {
  color: #41484f;
}

#directions .row > div > div:hover span a {
  color: #a5a5a5;
}

.dir-image-part {
  position: relative;
}

.dir-image-part > div {
  display: flex;
}

.dir-image-part > div span {
  padding-left: 5px;
  padding-right: 5px;
}

.dir-image-part > div span:first-child {
  background-color: orange;
  color: #343a40;
}

.dir-image-part > div span:last-child {
  background-color: #343a40c7;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.blog-image-part {
  position: relative;
  height: 180px;
}

.blog-image-part > div {
  display: flex;
}

#directions img {
  width: 100%;
  overflow: hidden;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#directions img + div {
  position: absolute;
  bottom: 10%;
}

.watch-all {
  color: #fff;
}

.watch-all:hover {
  color: #343a40;
}