footer {
  font-size: 0.8rem;
}

footer .row > div {
  margin-block-end: 0.5rem;
  height: 2.5rem;
}

footer .row > div:last-child p {
  margin-bottom: 0.1rem;
}

.text-orange {
  color: orange;
  margin-right: 0.5rem;
}

footer .row > div:last-child a {
  margin-inline-end: 0.5rem;
  font-size: 1.2rem;
}

/**
* ^^^^^^^^^^^^^^
* ||||||||||||||
*    OLD STUFF
**/

/**********************
 ****** VARIABLES ******
 ***********************/
$bg-main: #1b1e22;
$bg-second: #23282f;
$font-main: #fff;
$font-second: #ffb800;
$font-dark: #000;
$font-price: #1b1e22;

/* MIXINS */
@mixin fonts($fs: 16px, $fw: 400, $ln: 32px) {
  font-family: "Montserrat", sans-serif;
  font-size: ($fs / 16px) * 1rem;
  font-weight: $fw;
  line-height: ($ln / 16px) * 1rem;
  color: #fff;
}

/**********************
 **** GLOBAL STYLES ****
 ***********************/
html,
body {
  background-color: $bg-main;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* This is to prevent scroll from taking space */
  overflow-y: overlay;
}

h1 {
  @include fonts(48px, 500, 58px);
}

h2 {
  @include fonts(34px, 500, 38px);
}

h3 {
  @include fonts(20px, 400, 37.2px);
}

h4 {
  @include fonts(24px, 400, 32px);
}

h5 {
  @include fonts(20px, 500, 24px);
}

p {
  @include fonts(14px, 400, 20px);
}

strong {
  @include fonts(21px, 900, 32px);
  letter-spacing: -1px;
  color: $font-price;
}

.small {
  @include fonts(13px, 400, 16px);
}

.opacity {
  opacity: 50%;
}

.muted {
  @extend .opacity;
  color: #c4c4c4;
}

.text-giant {
  @include fonts(78px, 500, 58px);
  color: $font-second;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  color: #fff;
}

/***********************
 **** GLOBAL BUTTONS ****
 ************************/
.btn-fill {
  background-color: $font-second;
}

.btn-stroke {
  border: 1px solid $font-second;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
}

/***************
 **** HEADER ****
 ****************/
#lang {
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

header {
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .row {
    height: 79px;
  }
}

.banner {
  header {
    h2 {
      @include fonts(20px, 400, 38px);
    }
  }
}

.banner-wrapper {
  width: 100%;

  /* THIS IS CRUTCH FOR LATER DEL */
  height: 1032px;
  /********************************/

  background-color: $bg-main;
  background-image: url("../assets/background_1.jpg");
  background-image: linear-gradient(180deg, #ffffff08 2.5%, #1b1e2266 42.42%, #1b1e22 80.67%),
    url("../assets/background_1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*linear-gradient(180deg, #1b1e2200 2.5%, #1b1e2278 42.42%, #1B1E22 80.67%), url(../images/background_1.jpg)*/
}

.logo {
  align-self: flex-start;
  margin-top: 3px;
  height: 50px;
  max-width: 183px;

  a {
    height: 50px;

    img {
      background-size: cover;
    }
  }
}

#lang {
  a {
    text-shadow: 01px 0px 2px #000, -1px 0px 2px #000, 0px 1px 2px #000, 0px -1px 2px #000;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.banner {
  .navbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .banner {
    .row {
      width: 100%;
      justify-content: space-between;
    }

    .navbar {
      min-width: 50px;
    }
  }
}

.banner {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.banner {
  .nav-item {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $font-second;
      border-radius: 15px;
    }
  }
}

.banner {
  .nav-link {
    padding: 0;
    @include fonts(18px, 400, 32px);
  }
}

.banner {
  .navbar-toggler {
    width: 50px;
    height: 50px;
  }
}

.show,
.collapsing {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 10;
  width: 80px;
  text-align: center;
  background-color: #343a40c7;
  border: 1px solid #2a343e;
}

.main {
  margin-top: 40px;

  .row > div {
    padding: 0;
  }

  .row > div:first-child {
    margin-top: 40px;
  }

  .row > div:last-child {
    position: relative;
  }

  h1 {
    margin-top: 2rem;
    margin-left: -5px;
  }

  h3 {
    margin-left: -1px;
    margin-top: 26px;
    width: 480px;
  }
}

.form-blured {
  position: absolute;
  width: 500px;
  height: 360px;
  right: -73px;
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  --webkit-backdrop-filter: blur(24px);
}

.quick-search {
  position: absolute;
  width: 500px;
  height: 360px;
  padding: 50.76px 70px;
  right: -73px;
  border-radius: 10px;
  background: transparent;

  h5 {
    margin-bottom: 21px;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group {
  margin-bottom: 19px;
  flex-shrink: 1;

  &:nth-child(2) {
    margin-right: 20px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    flex-shrink: 0;
    width: 168px;
  }

  input,
  select {
    height: 38px;
    background-color: transparent;
    border-color: #fff;
    @include fonts(13px, 500, 16px);

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border-color: #fff;
      color: #ffffff80;

      &::-webkit-input-placeholder {
        color: #ffffff80;
      }
    }
  }
}

#search-place {
  border-right: none;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.search-button {
  position: relative;
  background-color: transparent;
  border-left: none;
  border-color: #fff;
  font-family: "Font Awesome 5 Free";

  &:hover {
    background-color: transparent;
    border-color: #fff;
  }

  &::before {
    content: "\f689";
    position: absolute;
    top: 4px;
    left: -1px;
    font-weight: 900;
    color: #fff;
  }
}

#date {
  &:before {
    content: attr(placeholder) !important;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    display: none;
  }
}

.btn-submit,
.btn-submit:focus {
  @include fonts(20px, 500, 24px);
  color: #1b1e22;
  background-color: $font-second;
  border-color: $font-second;
  box-shadow: none;
}

.features {
  margin-top: 280px;
  height: 227px;

  .row {
    justify-content: space-between;
  }
}

.features-card {
  margin-top: 131.4px;
  width: 264px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  h5 {
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 97px;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
  }

  &:nth-child(2) {
    h5 {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &:nth-child(1)::before {
    background-image: url("../assets/visa.svg");
  }

  &:nth-child(2)::before {
    content: "";
    background-image: url("../assets/world.svg");
  }

  &:nth-child(3)::before {
    content: "";
    background-image: url("../assets/hunter.svg");
  }

  &:nth-child(4)::before {
    content: "";
    background-image: url("../assets/bbq.svg");
  }
}

////////////////////////////////////////////////////////
.directions {
  margin-top: -0.5rem;

  .row {
    margin-top: 2.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.directions-card {
  position: relative;
  width: 360px;
  height: 432px;
  margin-bottom: 1.5rem;
  padding: 0;
}

.directions-card-image {
  position: relative;
  height: 100%;
  background-color: $bg-second;

  div {
    position: absolute;
    top: 37%;
  }

  &:hover {
    transform: scale(1.06);
  }
}

.directions-card-text {
  position: absolute;
  bottom: 1.5rem;
  left: 1.25rem;
  height: 11.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h5 {
    padding-right: 3.5rem;
    max-height: 50%;
  }

  p {
    padding-right: 3rem;
    max-height: 45%;
    overflow-y: hidden;
  }
}

.direction-card-pricing {
  width: 248px;
  height: 32px;
  display: flex;
  background-color: $bg-main;

  span {
    height: 100%;
    display: block;
    text-align: center;

    &:first-child {
      width: 78px;
      @include fonts(13px, 500, 32px);
      color: $font-price;
      background-color: $font-second;
    }

    &:last-child {
      width: 170px;
      @include fonts(13px, 500, 32px);
      color: $font-main;
    }
  }
}

.directions > .container > div:last-child {
  margin-top: 1.5625rem;
}

.watch-all {
  color: #fff;
  width: 216px;
  height: 48px;
  font-size: 20px;
  padding-top: 9px;
}

.watch-all:hover {
  color: #343a40;
}
/******** INFO ********/
.info {
  margin-top: 75px;
  height: 265px;
  background: linear-gradient(#1b1e22c2 0%, #1b1e22c2 100%), url("../assets/background_2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .container {
    height: 100%;
  }
  .row {
    width: 100%;
    height: 100%;
    align-items: center;
    //text-align: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 117px;
    margin-top: 10px;
  }
}

/*************** BLOG *************/
.blog {
  margin-top: 60px;

  .container > div:last-child {
    margin-top: 49px;
  }

  .row {
    margin-top: 40px;
  }

  div:nth-child(2) .blog-card__image {
    background-image: url("../assets/blog_2.jpg");
  }
  div:nth-child(3) .blog-card__image {
    background-image: url("../assets/blog_3.jpg");
  }
}

.blog-card {
  position: relative;
  background-color: #41484f;
  height: 480px;
  border-radius: 10px;
}

.blog-card.card-big {
  background-color: #343a4075;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#1f1f1fc2 100%, #1f1f1fc2 100%), url("../assets/blog_1.jpg");
  background-repeat: no-repeat;

  img {
    position: relative;
    border-radius: 10px;
    z-index: -2;
  }
  p {
    margin-top: 6.5%;
    color: #b9b9b9;
  }
}

.card-big:hover {
  background-size: 110%;
  background-position: 40% 50%;

}
.blog-card__text {
  position: absolute;
  text-align: center;
  height: auto;
  top: 11%;
  left: 4%;
  width: 90%;
}

.card-small {
  display: flex;
  flex-direction: column;
  height: 480px;

  .blog-card__image {
    flex: 0 0 45%;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h5 {
    flex: 1 0 10%;
    max-height: 22%;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  p {
    flex: 1 0 20.4%;
    padding-top: 18px;
    padding-left: 18px;
  }
}

.blog-card__footnote {
  flex: 1 0 12.6%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  color: #b9b9b9;
  font-size: 12px;
  margin-right: 10px;

  p {
    flex: 2 1 0;
  }
}
.like {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;

  a {
    cursor: pointer;
    text-align: end;
    margin-top: 4px;
    margin-right: 6px;

    &:visited {
      color: orange;
    }
  }
  span {
    margin-top: 4px;
  }
}

.comment {
  flex: 1 1 0;
  display: block;
  color: #b9b9b9;
  text-align: end;
  &::before {
    content: "\f4ad";
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
  }
}


/************* REVIEWS *************/
.reviews {
  margin-top: 66px;
}
// STOOPED HERE
#carousel {
  height: 300px;
}

#carousel ol {
  position: relative;
}

#carousel ol > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#carousel img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: none;
  margin: 0;
}

#carousel .carousel-item {
  position: relative;
}

#carousel .carousel-caption {
  bottom: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel .carousel-caption::after {
  content: "\201C";
  position: absolute;
  font-family: "Catamaran";
  top: 35px;
  font-size: 154px;
  color: #ffffff38;
}

#carousel .carousel-caption p:first-of-type {
  max-height: 154px;
  margin-top: 5px;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#carousel .carousel-caption > p:last-of-type {
  height: 25px;
}

#carousel .carousel-caption > div {
  height: 60px;
}

.h-5 {
  height: 5%;
}

.h-95 {
  height: 95%;
}

.carousel-item {
  height: 100%;
}