:root {
  --left: 1.1;
  --right: 1.1;
  --position: 0px;
}

html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow-y: overlay;
  /*overflow-x: hidden;*/
  /*scrollbar-width: none;*/
}

p, h5, h4, h3, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.08px;
}

h2 {
  font-size: 3rem;
  color: #cd6326;
  line-height: 4.5rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 3rem;
  color: #333;
  line-height: 4.5rem;
}

h4 {
  font-size: 27px;
  color: #333;
  line-height: 40.5px;
}

h5 {
  font-size: 1.375rem;
  color: #f7f7f7;
  line-height: 2.25rem;
}

p {
  font-size: 23px;
  line-height: 23.95px;
  color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 26.95px;
  color: #f7f7f7;
  background-color: #cd6326;
}
.btn:hover {
  background-color: #e39128;
  cursor: pointer;
}
.btn:active {
  background-color: #8f5613;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-container {
  width: 100%;
  background-color: #02160b;
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
}

.wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  margin-top: 1px;
  min-height: 98px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  position: relative;
  height: 60px;
  flex: 0 1 20%;
  display: flex;
  align-items: center;
}
.logo a {
  margin-left: 80px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
  letter-spacing: 0.08px;
  transform: scaleX(0.938);
}
.logo a::before {
  content: "";
  position: absolute;
  left: -86px;
  top: 0;
  width: 70px;
  height: 60px;
  transform: scaleX(1.05);
  background-image: url("assets/logo.svg");
  background-repeat: no-repeat;
}

.nav-header {
  margin-left: 490px;
  width: 480px;
}

.menu-header {
  display: flex;
  flex-direction: row;
}
.menu-header li {
  margin-right: 58px;
  padding-right: 1px;
  padding-left: 1px;
  height: 60px;
  letter-spacing: 0.4px;
}
.menu-header li:last-child {
  margin-right: 0;
}

.menu-UI {
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.search {
  width: 36px;
  height: 60px;
}
.search a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.search a::before {
  content: "";
  position: absolute;
  top: 23.3333333333%;
  /*left: 10%;*/
  width: 100%;
  height: 53.334%;
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sign-in {
  height: 50px;
  border: 2px solid #cd6326;
  background-color: transparent;
}
.sign-in:hover {
  border: none;
  background-color: #cd6326;
}
.sign-in:active {
  border: none;
  background-color: #8f5613;
}

.survival {
  padding-top: 52px;
  margin-bottom: 241px;
}
.survival h2 {
  margin-bottom: 50px;
}
.survival p {
  margin-bottom: 47px;
  width: 275px;
  font-size: 18px;
  line-height: 27.75px;
}
.survival button {
  width: 160px;
  height: 60px;
}

.main-container {
  width: 100%;
  padding-top: 120px;
  background-color: #ccc;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h3 {
  margin-bottom: 19px;
  color: #333;
}
.main h3 + p {
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #666;
}

.slider {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 220px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  height: 400px;
}

.slider-button {
  width: 30px;
  height: 70px;
}
.slider-button:hover {
  cursor: pointer;
}

.slider-button_right img:hover {
  transform: scale(var(--right));
}

.slider-button_left img:hover {
  transform: scale(var(--left));
}

.slider-slides {
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  height: 100%;
}

.slider-slide {
  flex-shrink: 0;
  height: 360px;
  width: 330px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  transform: translateX(0px);
  transition: transform 500ms ease-in-out;
}
.slider-slide:nth-child(1) .slider-slide-content {
  background-image: url("assets/slide-1.jpg");
}
.slider-slide:nth-child(2) .slider-slide-content {
  background-image: url("assets/slide-2.jpg");
}
.slider-slide:nth-child(3) .slider-slide-content {
  background-image: url("assets/slide-3.jpg");
}
.slider-slide:nth-child(4) .slider-slide-content {
  background-image: url("assets/slide-4.jpg");
}
.slider-slide:nth-child(5) .slider-slide-content {
  background-image: url("assets/slide-5.jpg");
}

.slider-slide-content {
  height: 360px;
  width: 300px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-repeat: no-repeat;
  transition: transform 250ms ease-out;
}
.slider-slide-content h5 {
  margin-bottom: 10px;
}
.slider-slide-content p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #f7f7f7;
}
.slider-slide-content:hover {
  transform: scale(1.1);
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 662px;
  height: 62px;
  margin-top: 59px;
  margin-bottom: 239px;
}
.subscribe input[type=email] {
  width: 540px;
  height: 62px;
  padding-left: 14px;
  padding-top: 6px;
  border: 1px solid #666;
  border-right-color: transparent;
  background-color: transparent;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  color: #666;
  opacity: 0.5;
}
.subscribe input[type=email]::placeholder {
  font-size: 23px;
  line-height: 27px;
  color: #666;
  opacity: 0.5;
}
.subscribe input[type=submit] {
  position: relative;
  height: 62px;
  width: 122px;
  border: 1px solid #cd6326;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -1px;
}
.subscribe input[type=submit]:hover {
  border-color: #e39128;
}
.subscribe input[type=submit]:active {
  border-color: #8f5613;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 360px;
  background-image: url("assets/background-footer.png");
  background-color: #181617;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-footer {
  width: 480px;
  margin-left: 120px;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-footer li {
  margin-right: 88px;
}
.menu-footer li:last-child {
  margin-right: 0;
}

.icons {
  width: 240px;
  margin-left: 120px;
}
.icons ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.icons ul li {
  width: 40px;
  height: 40px;
  list-style-type: none;
  transition: ease-out 200ms;
}
.icons ul li:hover {
  transform: scale(1.2);
}
.icons ul li:nth-child(1) a {
  background-image: url("assets/icon-facebook.svg");
}
.icons ul li:nth-child(2) a {
  background-image: url("assets/icon-instagram.svg");
}
.icons ul li:nth-child(3) a {
  background-image: url("assets/icon-pintrest.svg");
}
.icons ul li:nth-child(4) a {
  background-image: url("assets/icon-telegram.svg");
}
.icons ul a {
  display: block;
  width: 40px;
  height: 40px;
}